.timeline-cell {
  box-sizing: border-box;
}

.event-marker {
  position: absolute;
  top: 35%;
  height: 30%;
  border: 1px solid black;
  /*opacity: .5;*/
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
}

.event-marker.no-duration {
  background-color: black;
}

.event-marker.has-duration {
  background-color: black;
}

.event-marker.active {
  background-color: blue;
}

#popup-title{
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

#popup-date{
  font-size: 2rem;
  font-weight: 100;
  /*margin-bottom: 1rem;*/
}

.citation-needed-content{
 color:black; !important
 border:none; !important

}

.reduced #popup-title{
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0;
  /*float:right;*/

}

.reduced #popup-date{
  float:left;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 300;
}

#popup {
  box-sizing: border-box;
  position:fixed;
  /*bottom: 7rem;*/ /*calc(10vh + 50px);*/

  width: 90%;
  max-width: 720px;
  min-height: 10px;
  background-color: white;
  border: 1px solid black;
  z-index: 100000;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  padding:1rem;
  line-height:1.4;
  left: 50%;
  top: calc(50% - 3rem);
  transform: translateX(-50%) translateY(-50%);
}

#popup.opened {
  pointer-events: all;
  opacity: 1;
}

#popup.reduced {
  /*max-height: 10px;*/
  transform: translateX(-50%) translateY(-100%);
  top: calc(100% - 7rem);;

  /*background-color: gray;*/
}

#popup.reduced #popup-content{
  display:none;
  /*background-color: gray;*/
}

#popup #button-toggle-popup img{

}

#popup #button-toggle-popup {
  position:fixed;
  width:2rem;
  height:auto;
  padding:1rem;
}

#popup #button-toggle-popup .svgline{
  stroke-width:2px;
}

#popup #button-toggle-popup:hover .svgline{
  stroke:blue;
}




#popup.reduced #button-toggle-popup{
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);
}

#button-toggle-popup {
  position: absolute;
  top: 0px;
  right: 0px;
  color: blue;
}

/*@media only screen and (max-width: 992px) {*/
  .mobile #popup {
    font-size:15px; /*32*/
    line-height:1.4;
    width: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
    max-height: calc(100% - 14rem);
    overflow-y: scroll;
  }

  .mobile #popup.reduced {
    max-height: 4rem;
    /*overflow-y: none;*/
  }

  .mobile h1, .mobile .font-large{
    font-size: 2rem;
  }

/*}*/
