@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

/*1. Essential, basic container*/
body,html{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  /*min-height: 100vh;*/
  width: 100vw;
  overflow: hidden;
  -webkit-overflow-scrolling:touch;

}
/*-----------------1st level--------------------*/
#wrapper{
  width:100vw;
  height:100vh;
  flex-direction: row;
}
.containers{
  height:100%;
  display:flex;

}
#container-side{
  flex-flow: column;
  width:25%;
  float:left;
}
#container-main{
  flex-flow: column;
  /*overflow-y:scroll;*/
}
#container-about{
  flex-flow: row;
  display:none;
  float:left;
}
/*-----------------2nd level--------------------*/
#wrapper-timelines{
  box-sizing: border-box;
  position:relative;
  top:0;
  width:100%;
  height:300%;
  /*height:300%;*/
  /*width:100%;*/
  /*display : flex;
  flex-direction: column;
  align-content: stretch;*/

  background-color:white;
}
.timeline-containers{
  box-sizing: border-box;
  /*flex-grow: 1;*/
  width:100%;
  height:100vh;
  /*border:1px solid red;*/
}
#utopia-main{
  display:flex;
  flex-direction: column;

}



#project-content{

}

/*Flex behaviours for main container*/


.project-view{
  height:100%; /*should go somewhere else*/
  flex-flow: line;
  flex-wrap: wrap;
  overflow-y:scroll;
  -webkit-overflow-scrolling:touch;
}
.about-view{
  flex-flow: line;
  flex-wrap: nowrap;
  overflow-y:scroll;
  -webkit-overflow-scrolling:touch;
}

.flexgrow-1{
  /*flex-grow: 1;*/

}

.flexgrow-2{
  /*flex-grow: 2;*/
}

#container-titre{
  position:absolute;
  display:none;
  /*width:30%;*/
  padding:2rem;
  z-index:1;
}
#container-project-alt{
  display : flex; /*seulement pour une certaine timeline style à part*/
  flex-flow: row; /*seulement pour une certaine timeline style à part*/
  flex-wrap: nowrap; /*seulement pour une certaine timeline style à part*/
  padding:2em; /*seulement pour une certaine timeline style à part*/
  justify-content: space-between; /*seulement pour une certaine timeline style à part*/
}
#container-project{
  height:90%;
  background-color: white;
  width: 100%;
  position: relative;
}
#container-timeline{
  height:10%;
  width: 100%;
  overflow-x:scroll;
  -webkit-overflow-scrolling:touch;
  box-sizing: border-box;
  position: relative;
  background-color: white;
}
#side-project-title{
  float:left;
}

/*--A ranger     Timeline*/
#timeline-scrollable::-webkit-scrollbar {
    display: none;
}

/* Containers for Timeline only*/
#timeline-scrollable{
  position:absolute;
  bottom:0;
  left:0;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  /*background:rgba(255, 0, 0, 0.5);*/
  display : flex;
  flex-flow: line;
  flex-wrap: nowrap;
}

.timeline-cell{
width: 8.333vw;
border: 0.5px solid rgba(0, 0, 0, 1);
height:100%;
}
/*-----*/

.content{
  padding:2rem;
}
.hidden{
  visibility:hidden;
  display:none;
}

/*2. Text - Size/Styling*/
h1{
  font-weight: 100;
  font-size:3rem;
}
h2{
  font-weight: 100;
  font-size:2rem;
}

h4,span,p{
  font-size:1rem;
  line-height:1.4rem;
}

.style-blue {
  background-color: #0000ff !important;
}

.style-normal{

}
.style-blue h1, .style-blue h2, .style-blue h3,  .style-blue h4, .style-blue h5, .style-blue p, .style-blue span{
  color:white;
}
.style-normal h1, .style-normal h2,.style-normal h3,.style-normal h4,.style-normal h5,.style-normal p,.style-normal span{
  color:black;
}
.style-blue a, .style-blue .action{
  color:black;
}
.style-normal a, .style-normal .action{
  color:#0000ff;
}
.style-popup{
  /*padding:2em;
  border:1px solid black;*/
  /*max-width:50%;
  min-width:33,33%;*/
  flex-basis: calc(30%);
  height:auto;
  float:left;
  display:flex;
  align-items:flex-start;
}

.pop-inside{
  /*position:absolute;*/
  max-width:100%;
  border:1px solid black;
  background-color:white;

  padding:2em;
  max-height:70%;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
}

.pop-inside::-webkit-scrollbar {
    display: none;
}

#project-title div{
  position:absolute;
  width:40%;
  top: 20%;
}

#project-content div{
  align-self: flex-end;
}
/*Text - Placement/Borders*/
/*similaire à content*/
.text-normal{
  padding:1rem;
}

.bottom{
  /*position: absolute;
  bottom: 0;*/
  /*display: table-cell;*/
  vertical-align: bottom;
}
.flex-middle{
  flex:1 1 auto;
  overflow-y:scroll;
}
.flex{
  flex:0 0 auto;
}

/*3. Links, Interaction, UI*/
a{
  color:white;
}

a:hover{
  text-decoration:none;
}

#container-titre .action{
  color:#0000ff;
  float: right;
}

/*UI Elments*/
.UIButton{
  width:1rem;
  height:1rem;
}
.UIButton_2x{
  width:2rem;
  height:2rem;
}

.abs-left{
  position:absolute;
  top:0;
  left:0;
  padding: 1rem;

}
.abs-right{
  position:absolute;
  top:0;
  right:0;
  padding: 1rem;
}

/*Specials - Project page*/

.fit {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}
.fit-w{
  width: 100%;
  height:auto;
}

.fit img,.fit-w img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}




.fit-2{
  height:50%;
}

/*not used | change the way the column works*/
.project-preview{

}


/* a supprimer*/
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.kol-1, .kol-2, .kol-3, .kol-4, .kol-5, .kol-6, .kol-7, .kol-8, .kol-9, .kol-10, .kol-11, .kol-12,
.kol8-1, .kol8-2, .kol8-3, .kol8-4, .kol8-5, .kol8-6, .kol8-7, .kol8-8, .textwidget, .col-t-1, .col-t-6
{
	box-sizing: border-box;
  float: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
	padding-top: 0em;
	padding-bottom: 0em;
	padding: 0em;
	position: relative;
  min-height: 1px;
}

.col-12, .kol12 {
  width: 100%;
}
