@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
/*POUR IFRAME


/*1. Essential, basic container*/
body,html{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  /*min-height: 100vh;*/
  width: 100vw;
  overflow: hidden;
  -webkit-overflow-scrolling:touch;
}

.timeline-containers{
  box-sizing: border-box;
  /*flex-grow: 1;*/
  width:100%;
  height:100vh;
  /*border:1px solid red;*/
}

#container-project{
  height:90%;
  /*background-color: white;*/
  width: 100%;
  position: relative;
}
#container-timeline {
  height:10vh;
  width: 100%;
  overflow-x:scroll;
  -webkit-overflow-scrolling:touch;
  box-sizing: border-box;
  position: relative;
  background-color: white;
}

#container-timeline:before {
  content: "";
  display: block;
  position: fixed;
  bottom: 0px;
  left: 50%;
  width: 1px;
  height: 10%;
  z-index: 1000;
  border-left: 1px solid black;
}

/*Scrollbars*/
#container-timeline::-webkit-scrollbar,
.pop-inside::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

#container-timeline,
.pop-inside {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

/* Containers for Timeline only*/
#timeline-scrollable {
  position:absolute;
  bottom:0;
  left:0;
  height: 100%;
  overflow:hidden;
  /*background:rgba(255, 0, 0, 0.5);*/
  display : flex;
  flex-flow: line;
  flex-wrap: nowrap;
  padding-left: 50%;
  padding-right: 50%;
}

.timeline-cell {
  texte-size: 1rem;
	text-align: center;
	width: 8.333vw;
	border-left: 1px solid rgba(0, 0, 0, 1);
	height: 80%;
	margin: auto;
}

.timeline-cell:last-child {
  border-right: 1px solid rgba(0, 0, 0, 1);
}

.hidden {
  visibility:hidden;
  display:none;
}

#button-timeline-left{
  position: fixed;
  z-index:1000;
  background-color: white;
}

#button-timeline-right{
  right:0;
  position: fixed;
  z-index:1000;
  background-color: white;

}
