@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
/*INTERFACE*/
/*Scrollbars*/
/*to remove*/
#smartphone{
  display:none;
  visibility: hidden;
}

/*1. Essential, basic container*/
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: blue;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  overflow: hidden;
  -webkit-overflow-scrolling:touch;
  color: white;
}

p{
  line-height:1.4;
}

a {
  color: black;
}

a.selected {
  color: white;
}

/*2. Text - Size/Styling*/
h1,
.font-large {
  font-size: 3rem;
  font-weight: 100;
  /*important for nathan's title, check if it doesn't break the rest of the design*/
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}


iframe,
nav,
nav a,
#container-side,
#container-projects,
#container-main,
#container-about,
#button-toggle-informations
{
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);   /*transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);*/
}


/*#timeline-cursor,
#timeline-barre
{
  transition: all 3000ms cubic-bezier(0.23, 1, 0.32, 1);
}*/

/* SPLASHSCREEN */

.splashscreen-main-title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  opacity: 0;
  padding: 4rem 10vw;
  transition: opacity 0.5s ease-in-out;
  color: white;
  text-decoration: none;
}

.splashscreen-title,
.click-to-start {
  position: fixed;
  left: 50%;
  transition: transform 1s ease-in-out;
  font-size: 1.5em;
}

.splashscreen-title {
  top: 0;
  transform: translate(-50%, -150%);
}

.click-to-start {
  bottom: 0;
  transform: translate(-50%, 150%);
}

.show-splashscreen.enable-splashscreen-titles .splashscreen-title,
.show-splashscreen.enable-splashscreen-titles .click-to-start {
  transition: transform 1s 1s ease-in-out;
}

.show-splashscreen.enable-splashscreen-titles .splashscreen-title {
  transform: translate(-50%,0%);
  padding:1rem;
}

.show-splashscreen.enable-splashscreen-titles .click-to-start {
  transform: translate(-50%, 0%);
  padding:1rem;

}

.show-splashscreen {
  cursor: pointer;
}

.show-splashscreen #navigation,
.show-splashscreen #container-credit,
.show-splashscreen #container-side {
  transform: translate(-100%, 0);
  transition: transform 0.7s 0.8s ease-in-out;
}

.show-splashscreen .splashscreen-main-title {
  transition: opacity 2.5s ease-in-out;
  opacity: 1;
}

.splashscreen-main-title h5.title-bold {
  font-weight: bold;
}

.show-splashscreen .splashscreen-main-title h5.enable-caret:after {
  content: '';
  width: 2px;
  height: 0.85em;
  transform: translate(0, 15%);
  background: white;
  animation: blink-animation 1.5s steps(2, start) infinite;
  -webkit-animation: blink-animation 1.5s steps(2, start) infinite;
  display: inline-block;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.show-splashscreen #container-credit,
.show-splashscreen #navigation svg {
  transition: none;
  visibility: hidden !important;
  opacity: 0;
}

.show-splashscreen #container-about,
.show-splashscreen #container-projects,
.show-splashscreen #container-main {
  transform: translate(100%, 0);
  transition: all 1s 0.5s ease-in-out;
}

.show-splashscreen #container-menu {
  transform: translate(0, 100%);
  transition: transform 1s ease-in-out;
}

/* IFRAME POPUP */

.iframe-popup {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, -100%, 0);
  transition: transform 0.3s ease-in-out;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
}

.iframe-popup-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  width: 30px;
  height: 30px;
  stroke-width: 4px;
}

.iframe-popup .iframe-popup__content {
  background-color: white;
  width: 50%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow:4px 0px 49px rgba(0, 0, 1, 0.5);
  -moz-box-shadow:4px 0px 49px rgba(0, 0, 1, 0.5);
  box-shadow: 4px 0px 49px rgba(0, 0, 1, 0.5);
}

.show-iframe-popup .iframe-popup {
  transform: translate3d(0, 0, 0);
}

#container-menu {
  transition: transform 1s 0.4s ease-in-out;
}

/*Navigation*/
nav-mobile{
  display:none;
  visibility: hidden;
}

nav svg{
  position:absolute;
  right:1rem;
  width:2rem;
  stroke:black;
  stroke-width:4px;
}

#navigation{
  width: 25vw;
  height: 11rem; /*to check different styles*/
  padding:1rem;
  padding-bottom: 3rem;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  transition: left 0.7s ease-in-out, top 0.7s ease-in-out, transform 0.7s ease-in-out, max-width 0.7s ease-in-out;
}
#navigation.background-blue {
  color: white;
}

#navigation.background-blue nav > a {
  color: #000000;
}
#navigation.background-blue .button-nav{
  stroke: #000000;
}

#navigation.background-black {
  color: white;
}

#navigation.background-black nav > a {
  color: #0000ff;
}
#navigation.background-black .button-nav{
  stroke: #0000ff;
}

#navigation.background-white {
  color: black;
}

#navigation.background-white nav > a{
  color: #0000ff;
}
#navigation.background-white .button-nav{
  stroke: #0000ff;
}

#navigation.not-extended{
  color: white;
}
#navigation.not-extended nav > a {
  color: #000000;
}
#navigation.not-extended .button-nav{
  stroke: #000000;
}


#navigation #button-toggle-informations{
  left:1rem;
  transform: rotate(180deg);
  top:8rem;
}

/*TO improve, not good to have reduced inverted as extended*/
#navigation.not-extended #button-toggle-informations{
  left:calc(100% - 3rem);
  transform: rotate(0deg);
  top:8rem;
}

nav .button-up{
  top:1rem;
}
nav .button-down{
  /*bottom:3rem;*/
  top:6rem;
}

#project-title {
  padding-right: 3rem !important;
  transition: padding 0.7s ease-in-out;
  cursor: pointer;
  color: white;
  text-decoration: none;
}


/*-----------------1st level--------------------*/
#wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.container {
  height: 100%;
  position: relative;
}

#container-main,
#container-about,
#container-projects{
  overflow: hidden;
  -webkit-box-shadow:4px 0px 49px rgba(0, 0, 1, 0.5);
  -moz-box-shadow:4px 0px 49px rgba(0, 0, 1, 0.5);
  box-shadow: 4px 0px 49px rgba(0, 0, 1, 0.5);
}

#container-projects a {
  display: flex;
  padding:1rem;
  text-decoration: none;
  width: 100%;
  min-width: 75vw; /* to check si pas de conflit en mobile*/
  height:16.6666667%;
}

#container-projects a:hover {
  background-color: blue;
  color:white;
}

/*shadow*/
#container-side {
  flex-flow: column;
  overflow: hidden;
}

#container-side .content {
  width: 25vw;
  min-width: 25vw;
  padding:1rem;
  /*z-index:11;*/
}

#container-side .content div{
  padding-bottom: 1rem;
}



/*to check*/
#container-side.background-blue, #container-about.background-blue {
  background-color: #0000ff;
}

#container-side.background-blue h1 , #container-about.background-blue h1{
  color: white;
}


#container-about {
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#container-about.reduced {
  overflow-y: hidden;
}

#container-about .content {
  width: 25vw;
  min-width: 25vw;
  padding: 1rem;
}

#container-projects {
  flex-wrap: wrap;
  overflow-x: hidden;
  background-color: white;
}

.side {
  width: 25%;
}

.main {
  width: 75%;
}

.reduced {
  width: 0px;
}

.extended {
  width: 100%;
}

/*-----------------2nd level--------------------*/
/*Not the real title container, the one in container-side*/
#container-title {
  height:11rem;
  padding-right: 4rem  !important; /*one more than the other one*/
  padding-bottom: 5rem !important;
  visibility:hidden;
}

#container-credit {
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: 50px;
  overflow-y:scroll;
}

#container-menu a{
  display: block;
  padding:1rem;
  height:16.6666667vh;
  background-color: blue;
  text-decoration: none;
  color:white;
}
#container-menu a:hover{
  padding:1rem;
  height:16.6666667vh;
  background-color: white;
  color:black;
}

#container-menu.content{
  padding:0; !important /* déja un padding dans les a */
}

#container-menu a.selected {
  color :black;
  background-color: white;
}
/* FLEX RULES*/
.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.flex-top{
  flex: 0 0 auto;
}
.flex-middle {
  flex: 1 1 auto;
}
.flex-middle::-webkit-scrollbar {
  display: none;
}

.flex-bottom {
  flex: 0 0 auto;
}

iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  min-width:75vw;
}

.move-up {
  transform: translateY(-100%);
}

.appear-up {
  transform: translateY(100%);
}

.move-down {
  transform: translateY(100%);
}

.appear-down {
  transform: translateY(-100%);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

/*3. Image */
.fit {
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.fit-w{
  width: 100%;
  height:auto;
}
.fit img,.fit-w img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*4. Percent*/
.full{
  width:100%;
  clear:both;
}
.half-w{
  width:50%;
  float:left;
}
.half-h{
  height:50%;
  float:left;
}
.half{
  /*width:25vw;*/
  width:50%;
  float:left;
}

.third-w {
  width:33.33%;
  float:left;
}

/*TIMELINES ARTEFACTS*/

.reduced #timeline-cursor{
  display:none;
}
.reduced #timeline-barre{
  display:none;
}
#timeline-cursor{
  position:absolute;
  background-color: black !important;
  left: 50%;
  width:2px;
  height:6rem; /*10vh*/
  bottom:0;
  z-index:11;
}
#timeline-barre{
  pointer-events:none;
  position:absolute;
  left: 0px;
  width:100%;
  height:6rem;
  z-index:10;
  bottom:0;
  border-top:1px solid black;
}
.extended #timeline-barre{
  left: 0px;
  width:100%;
}
.extended #timeline-cursor{
  left: 50vw;
}
.button-timeline{
  pointer-events: auto;
  position:absolute;
  color:black;
  width:4rem;
  height:6rem;
  padding:2rem 1rem 2rem 1rem;
  stroke-width:4px;
}

/*to improve*/
#button-timeline-left{
  background-image: linear-gradient(90deg, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 90%);
}
#button-timeline-right{
  right:0;
  text-align:right;
  background-image: linear-gradient(90deg, rgba(255,255,255,0) 10%,  rgba(255,255,255,1) 30%);
}

.button-timeline:hover .svgline{
  stroke:blue;
}

@media (max-width: 1500px){ /*tablet landscape*/
  #container-about .content {
    width: 50%;
    min-width:50%;
  }
  h1, .font-large{
    font-size: 2rem;
  }

  .splashscreen-title,
  .click-to-start {
    font-size: 1em;
  }
}

@media (max-width: 1300px){
  h1, .font-large{
    font-size: 1.5rem;
  }
}

@media (max-width: 800px){
  #container-about .content {
    width: 100%;
    min-width:100%;
  }
}

/*BACK HERE*/
@media only screen and (max-width: 800px) { /*mobile*/
  /*to remove*/
  #smartphone{
    display:inline-block;
    visibility: visible;
    position:absolute;
    z-index:6000;
  }
  /*all the rest to improve*/
  html,
  body {
    font-size: 15px;
    background-color: blue;
  }

  h1, .font-large{
    font-size: 2rem;
  }

  .d-flex{
    display:inline;
  }

  #wrapper {
    width: 100%;
    height: 100%;
    position:fixed;
  }

  #container-side,
  #container-projects,
  #container-main,
  #container-about {
    transition: none;
  }

  #container-side .content{
    width:100%;
  }

  #container-about .content {
    width: 100%;
    min-width:100%;
  }

  #container-about {
    overflow-y:scroll;
  }

  #container-projects{
    background-color: white;
  }

  #navigation {
    width:100%;
    position:fixed;
    height:4rem; /*6rem*/
    padding-bottom: 1rem;
  }

  #project-title {
    padding-right: 3rem !important;
    transition: padding 0.7s ease-in-out;
    cursor: pointer;
  }

  #container-title {
    padding-right: 3rem !important;
    transition: padding 0.7s ease-in-out;
    cursor: pointer;
    height:4rem; /*rem*/
    padding-bottom: 1rem !important;
  }


  /*container button*/
  nav{
    display:none;
    visibility: hidden;
  }

  nav-mobile{
    display:inline;
    visibility: visible;
    position:absolute;
    right:0rem;
    top:0rem;
    padding:1rem;
  }

  nav-mobile svg{
    position:relative;
    width:2rem;
    stroke:white;
    stroke-width:4px;
  }

  nav-mobile .nav-full{
    display:inline;
    visibility: visible;
    position:absolute;
    right:0rem;
    top:0rem;
    padding:1rem;
  }

  nav-mobile #button-closeOverlay{
    /*display:none;
    visibility: hidden;*/
  }

  nav-mobile .mobile-onlytimeline{
    /*display:none;
    visibility: hidden;*/
  }



  /*nav-mobile #button-menu{
    position:fixed;
    right:0;
    top:0;
  }*/

  .side {
    width: 100%;
    position:absolute;
    height:100%;
    z-index:500;
  }

  .main {
    width: 100%;
    height: 100%;
  }
  #container-projects.main,
  #container-about.main {
    position:absolute;
    height: calc(100% - 4rem); /*6rem*/
    top:4rem; /*6rem*/
  }
  .reduced {
    display:none;
    visibility: hidden;
  }

  #container-side.reduced{
    display:inline;
    visibility: visible;
  }



  .mobile-reduced {
    display:none;
    visibility: hidden;
  }

  #timeline-barre,.extended #timeline-barre{
    left: 0px;
    width:100%;
  }
  #timeline-cursor,.extended #timeline-cursor{
    left: 50vw;
  }

}

@media only screen and (max-width: 370px) {
  html,
  body {
    font-size: 13px; /*not so satisfying, to improve*/
  }
}

.logo {
  max-height: 2.5rem;
  height: 100%;
  object-fit: contain !important;
  width: auto !important;
  margin-bottom: 1.2rem;
}

.logo-bottom {
  max-height: 4rem;
  margin-top: 1.3rem;
}

.logo-bottom-middle {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}