<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Information mesh</title>
  <meta name="description" content="Information mesh">
  <meta name="author" content="SitePoint">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <!--styles-->
  <link rel="stylesheet" href="%{ROOT}/css/reset.css">
  <link rel="stylesheet" href="%{ROOT}/css/style.css">
  <!--script-->
  <script type="text/javascript" src="%{ROOT}/config.js"></script>
  <script type="text/javascript" src="%{ROOT}/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="%{ROOT}/js/script.js"></script>
</head>

<body class="show-splashscreen">
  <!-- Splashscreen UI -->
  <div class="splashscreen-title">
    <h5>Infomation mesh — 30 years of facts about the World Wide Web</h5>
  </div>

  <a href="%{ROOT}/home/" class="splashscreen-main-title">
    <h5 class="enable-caret title-bold"></h5>
  </a>

  <div class="click-to-start">
    <h5>Click to continue</h5>
  </div>

  <!-- Iframe Popup (not sure if this is still needed...) -->
  <div class="iframe-popup">
    <!-- Cross Iframe -->
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve" class="iframe-popup-close">
      <g id="Editablie_-_copie">
        <line stroke="white" stroke-miterlimit="10" x1="2" y1="58" x2="58" y2="2"/>
        <line stroke="white" stroke-miterlimit="10" x1="2" y1="2" x2="58" y2="58"/>
      </g>
      <g id="Finished"></g>
    </svg>
    
    <iframe class="iframe-popup__content" src="" frameborder="0"></iframe>
  </div>

  <!-- Projects Nav -->
  <header id="navigation" class="not-extended">
    <!-- Project Title -->
    <h1>
      <a id="project-title" href="%{ROOT}">Information mesh</a>
    </h1>

    <nav class="d-none">
      <!-- Arrow Up -->
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 33" enable-background="new 0 0 60 33" xml:space="preserve" class="button-up button-nav">
        <g id="Editablie_-_copie">
          <polyline class="svgline" fill="none" stroke-miterlimit="10" points="2,31 30,3 58,31 	"/>
        </g>
      </svg>

      <!-- Arrow Down -->
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 33" enable-background="new 0 0 60 33" xml:space="preserve" class="button-down button-nav">
        <g id="Editablie_-_copie">
          <polyline class="svgline" fill="none" stroke-miterlimit="10" points="2,2 30,30 58,2 	"/>
        </g>
        <g id="Finished"></g>
      </svg>

      <!-- Arrow Left Nav -->
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve" id="button-toggle-informations" class="button-nav">
        <g id="Editablie_-_copie">
          <polyline class="svgline" fill="none" stroke-miterlimit="10" points="30,58 2,30 30,2 	"/>
        </g>
      </svg>
    </nav>

    <!-- Mobile Projets Nav -->
    <nav-mobile>
      <!-- Mobile Arrow Up -->
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve" class="button-up button-nav mobile-onlytimeline button-nav-timeline">
        <g id="Editablie_-_copie">
          <polyline fill="none" stroke-miterlimit="10" points="2,44 30,16 58,44 	"/>
        </g>
        <g id="Finished"></g>
      </svg>

      <!-- Mobile ArrowDown -->
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"class="button-down button-nav mobile-onlytimeline button-nav-timeline">
        <g id="Editablie_-_copie">
          <polyline fill="none" stroke-miterlimit="10" points="58,16 30,44 2,16 	"/>
        </g>
        <g id="Finished"></g>
      </svg>
      
      <!-- Mobile Burger -->
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve" id="button-menu" class="button-nav">
        <g id="Editablie_-_copie">
          <g>
            <line fill="none" stroke-miterlimit="10" x1="8.5" y1="11.6" x2="51.5" y2="11.6"/>
            <line fill="none" stroke-miterlimit="10" x1="8.5" y1="30" x2="51.5" y2="30"/>
            <line fill="none" stroke-miterlimit="10" x1="8.5" y1="48.4" x2="51.5" y2="48.4"/>
          </g>
        </g>
      </svg>
      
      <!-- Mobile Cross -->
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve" id="button-closeOverlay" class="button-nav d-none">
        <g id="Editablie_-_copie">
          <g>
            <line fill="none" stroke-miterlimit="10" x1="7.5" y1="52.5" x2="52.5" y2="7.5"/>
            <line fill="none" stroke-miterlimit="10" x1="7.5" y1="7.5" x2="52.5" y2="52.5"/>
          </g>
        </g>
      </svg>
    </nav-mobile>
  </header>

  <div id=wrapper>
    <div id="container-side" class="container d-flex side mobile-reduced background-blue">
      <h1 id="container-title" class="content flex-top font-large">
      </h1>
      <div id="container-credit" class="content flex-middle">
        <div id="container-credit-inner">
          <div id="project-text"><p></p></div>
          <div id="project-credits"><p></p></div>
        </div>  
      </div>
      <div id="container-menu" class="content flex-bottom font-large">
        <a href="%{ROOT}/home/" id="button-open-projects" class="selected">30 years of</a>
        <a href="%{ROOT}/about/" id="button-open-about">About</a>
      </div>
    </div>

    <div id="container-projects" class="container d-flex main">
      <div class="project-list"></div>
    </div>

    <div id="container-main" class="container reduced">
      <div id="timeline-cursor"></div>
      <div id="timeline-barre">
        <div class="timeline-barre-inner">
          <!-- Arrow Left -->
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve" class="button-timeline" id="button-timeline-left">
            <g id="Editablie_-_copie">
              <polyline class="svgline" fill="none" stroke="#000000" stroke-miterlimit="10" points="30,58 2,30 30,2 	"/>
            </g>
          </svg>

          <!-- Arrow Right -->
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve" class="button-timeline" id="button-timeline-right">
            <g id="Editablie_-_copie">
              <polyline class="svgline" fill="none" stroke="#000000" stroke-miterlimit="10" points="30,2 58,30 30,58 	"/>
            </g>
          </svg>
        </div>
        <div id="timeline-background"></div>
      </div>
    </div>

    <div id="container-about" class="container reduced background-blue">
      <div id="inside" class="d-flex">
        <div class="content">
          <p>Information Mesh is a web platform celebrating the 30th anniversary of the World Wide Web that explores social, technical, cultural and legal facts throughout different interactive timelines. The project was realized by Media & Interaction Design students at ECAL/University of Art and Design, Lausanne. It was initiated in October 2018 during a one week workshop in partnership with swissnex San Francisco, where students visited key partners and began developing the project.
          </br></br>
          The timelines present an overview of Web history, starting with the proposal for hypertext by Tim Berners-Lee at CERN in 1989, initially under the name "Information Mesh." From this start date, users can then explore 30 years of evolution.
          </br></br>
          The ECAL study group is part of the swissnex Salon, a series of activities exploring the impact of technology on fundamental societal values drawn from the preamble of the Swiss Constitution. This project playfully examines the Utopian idealism at the heart of the Web, reconnecting us to the original optimism surrounding these communication technologies with a critical engagement regarding where we have arrived today. This presents an opportunity to return a collective focus on how we might bring the human back to the center of innovation.
          </p>
        </div>
        <div class="content">
          <div class="full">
            <div class="fit-w half-w">
              <a href="http://ecal.ch" target="_blank" data-externallink="true">
                <img src="../img/logos/logo_ecal_white.svg" alt="Logo of ECAL" class="logo">
              </a>
            </div>
            <div class="fit-w half-w">
              <a href="https://www.swissnexsanfrancisco.org" target="_blank" data-externallink="true">
                <img src="../img/logos/logo_swissnex_white.svg" alt="Logo of Swissnex San Francisco" class="logo logo-swissnex">
              </a>
            </div>
          </div>
          <div class="full">
            <h4>ECAL Faculty</h4>
            <p>Vincent Jacquier, Pauline Saglio, Laura Perrenoud, Tibor Udvari, Pietro Alberti</p></br>
            <h4>swissnex Team</h4>
            <p>Benjamin Bollmann, Mary Ellyn Johnson, Eryk Salvaggio</p></br>
            <h4>ECAL Students</h4>
            <p>Al Zouabi Alfatih, Becheras Diane, Bisseck Iyo, Boulenaz Jonathan, Breithaupt Kevin, Chenaux Maëlle, Matos Sébastien, Mouthon Bastien, Palauqui Mathieu, Sassoli De Bianchi Luca, Simmen Guillaume, Virág Tamara, Vogel Nathan, Zibaut Anouk</p></br>
          </div>
          <div class="full">
            <h4>Partners</h4>
            <p>Volker Eckl and Jan Gerlach, Wikimedia</p>
            <p>Amir Saber Esfahani, Internet Archive</p>
            <p>With the support of the Canton of Vaud</p>
          </div>
          <div class="logos">
            <a href="https://archive.org/" target="_blank" data-externallink="true">
              <img src="../img/logos/logo_archive_white.svg" alt="Logo of the internet archive" class="logo logo-bottom">
            </a>
            <a href="https://wikimediafoundation.org/" target="_blank" data-externallink="true">
              <img src="../img/logos/logo_wikimedia_white.svg" alt="Logo of the Wikimedia foundation" class="logo logo-bottom logo-bottom-middle">
            </a>
            <a href="https://vd.ch" target="_blank" data-externallink="true">
              <img src="../img/logos/logo_vd_white.svg" alt="Logo of the Canton of Vaud" class="logo logo-bottom logo-vd">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="%{ROOT}/js/splashscreen.js"></script>
</body>
</html>
