body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  overflow: hidden;
  margin: 0px;
  border: none;
  padding: 0px;
  transition: 0.5s;
  background-color: blue;
  /* background: repeating-linear-gradient(
    3deg,
    blue,
    blue 1px,
    rgb(224, 213, 255) 1px,
    rgb(224, 213, 255) 5px
  ); */
  font-size: 1rem;
}

#info {
  top: calc(1rem + 30px + 1rem);
  position: absolute;
  right: 1rem;
  width: calc(100vw - 2rem);
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}
.button {
  cursor: pointer;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}
.button.selected {
  background-color: white;
  color: blue;
}
.button:hover {
  background-color: white;
  color: blue;
}
#lines_wrapper {
  /* width: 100%; */
}
#line_1 {
  color: white;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8rem;
}
#line_1 div {
  text-align: right;
  margin-bottom: 0.5rem;
  height: 1rem;
  padding: 0.5rem;
}
#legend {
  z-index: 10;
  height: 30px;
  position: absolute;
  left: 1rem;
  top: calc(1rem);
  width: calc(100vw - 2rem);
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.37);
}
.lSquare {
  width: 10vw;
  height: 10px;
  padding: 10px;
  border-left-style: solid;
  font-size: 1rem;
  text-align: center;
}
#leg1 {
  color: black;
}
#leg10 {
  color: white;
}
#info #world {
  width: 100vw;
  height: 100vh;
}
#world svg {
  width: 2000px;
  height: 1000px;
  position: relative;
  left: -349px;
  transform: scale(1);
}
#next_svg_holder {
  visibility: hidden;
}
#tooltip {
  pointer-events: none;
  background-color: white;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 5px;
  color: black;
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  font-size: 1rem;
}
#tooltip .country {
  font-style: bold;
}
#tooltip .data {
}
path {
  transition: fill 0.8s;
}
path.selected {
  fill: rgb(255, 161, 161);
  /* stroke: rgb(255, 80, 80);
  stroke-width: 1;
  stroke-linejoin: round; */
}
#shadow {
  z-index: 10;
  width: 20px;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: -20px;
  box-shadow: -4px 0px 49px black;
}
.invisible {
  /* visibility: hidden; */
}

/*///// mobile ////////*/
body.mobile svg.cartogram {
  pointer-events: none;
}
body.mobile #legend {
  top: 4rem;
  height: 2rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.27);
}
body.mobile .lSquare {
  font-size: 0.8rem;
  height: calc(2rem - 10px);
  padding-top: 10px;
  padding-bottom: 0px;
}
body.mobile #info {
  top: calc(5.5rem + 30px);
  font-size: 1rem;
}
body.mobile #lines_wrapper {
  width: 100%;
}
body.mobile #line_1 div {
  text-align: center;
}
body.mobile #line_1 {
  width: 100%;
}
body.extended #legend {
  left: 33vw;
  width: 65vw;
}
