body {
  overflow: hidden;
  margin: 0px;
  border: none;
  padding: 0px;
  transition: 0.5s;
  background-color: blue;
  /* background: repeating-linear-gradient(
    3deg,
    blue,
    blue 1px,
    rgb(224, 213, 255) 1px,
    rgb(224, 213, 255) 5px
  ); */
  font-size: 80%;
}

#info {
  top: calc(2.5vw + 30px + 20px);
  position: absolute;
  left: 2.5vw;
  width: 95vw;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}
#lines_wrapper {
  width: 400px;
}
#line_1 {
  font-family: Arial;
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#legend {
  z-index: 10;
  font-family: Arial;
  height: 30px;
  position: absolute;
  left: 2.5vw;
  top: 2.5vw;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.37);
}
#info_description {
  width: 300px;
  color: white;
  padding: 5px;
  text-align: right;
}
#info_change_data {
  width: 50px;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  cursor: pointer;
  padding: 11px;
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
  transition: 0.5s;
}
#info_change_data:hover {
  box-shadow: 2px 2px 25px rgba(255, 255, 255, 0.74);
}
.lSquare {
  width: 10vw;
  height: 10px;
  padding: 10px;
  border-left-style: solid;
  font-size: 80%;
  text-align: center;
}
#leg1 {
  color: black;
}
#leg10 {
  color: white;
}
#info #world {
  width: 100vw;
  height: 100vh;
  font-family: Arial;
}
#world svg {
  width: 2000px;
  height: 1000px;
  position: relative;
  left: -349px;
  transform: scale(1);
}
#next_svg_holder {
  visibility: hidden;
}
#tooltip {
  pointer-events: none;
  background-color: white;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 5px;
  color: black;
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
}
#tooltip .country {
  font-style: bold;
}
#tooltip .data {
}
path {
  transition: fill 0.8s;
}
path.selected {
  fill: rgb(255, 161, 161);
  /* stroke: rgb(255, 80, 80);
  stroke-width: 1;
  stroke-linejoin: round; */
}
#shadow {
  z-index: 10;
  width: 20px;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: -20px;
  box-shadow: -4px 0px 49px black;
}
.invisible {
  /* visibility: hidden; */
}

/*///// mobile ////////*/

body.mobile #legend {
  top: 17vh;
  height: 30px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.27);
}
body.mobile .lSquare {
  font-size: 67%;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 0px;
}
body.mobile #info {
  top: calc(17vh + 51px);
  font-size: 128%;
}
body.mobile #lines_wrapper {
  width: 100%;
}
body.mobile #line_1 {
  width: 100%;
}
body.mobile #info_description {
  width: 90%;
  text-align: left;
}
body.mobile #info_change_data {
  position: relative;
  top: 8px;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17%;
  height: 7px;
  /* padding: 20px 26px 0px 20px; */
}
body.extended #legend {
  left: 33vw;
  width: 65vw;
}
