@charset "UTF-8";
/* CSS Document */


/*html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: auto;
}


canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	background-color:white;
}

#canvas {

	background-color:white;
	color:white;
}*/
