ul.header {
	margin: 0;
	padding: 15px 15px;
	overflow: hidden;
	background-color: #1A1A1A;
	border-bottom: 2px solid black;
}

ul.header li {
	display: inline-block;
	float: right;
	margin: 0 10px;
}

ul.header li:first-child {
	float: left;
}

#burger {
	display: none;
	float: right;
	height: 40px;
	width: 40px;
	padding: 5px;
}

@media only screen and (max-width:500px) {
	ul.header li:not(:first-child) {display: none;}
	#burger {
		display: inline-block;
		float: right;
		top: 0;

	}
	ul.header li {
		float: left;
		clear: both;
		display: block;
		list-style-type: none;
	}

	ul.header li:nth-child(3) {
		width: 100%;
		margin-top: 20px;
	}
	ul.header li:nth-child(3) a {
		text-align: left;
	}
}

.highlight {
	color: white !important;
}


#burger div {
	background-color: #999;
	width: 100%;
	height: 10%;
	margin-bottom: 30%;
	transition: margin .2s ease-in-out;
	box-shadow: 0 2px 0 0 black;

}

#burger:hover div {
	background-color: #AAA;


}

#burger:active div {
	transform: translate(0, 1px);
	box-shadow: none;
}


#burger.toggled #one {
	margin-bottom: 0;
	margin-top: 30%;
	background-color: white;
	/*transform: translateY(400%) rotate(45deg);*/
}

#burger.toggled #two {
	margin-bottom: 0;
	background-color: white;
}

#burger.toggled #three {
	background-color: white;
}

.information {
	display: block;
}
