.switch {
	position: relative;
	width: 15px;
	height: 15px;
	transform: translate(0px,40%);
	margin-right: 5px;
}

.switch input {
	display: none;
}

.shape_checkbox {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0px 0px 0px 2px black;
}

.shape_checkbox:before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	height: 90%;
	width: 45%;

	transform: translate(-55%, -65%) rotate(40deg);
	transition: box-shadow 0.2s ease-in-out;
}

input:checked + .shape_checkbox {
	background-color: black;
}

input:checked + .shape_checkbox:before {
	box-shadow: inset -2px -2px 0px 0px white;
}

.word_checkbox {
	font-family: "Roboto", arial, sans-serif;
	font-size: 20px;

	cursor: pointer;
	display: inline-block;
	margin-right: 20px;
}

.word_checkbox:active {
	transform: translate(0, 1px);
}