#container-project {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  /* height: 100%; */
  width: 100%;
  background-color: black;
  font-family: "IBM Plex Mono", "Hack", monospace;
  font-size: 18px;
  line-height: 1.7;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  /* cursor: none; */
}

/* All canvas */
canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
  width: 100%;
  height: 100%;
}

/* Paper.js canvas */
#canvas {
  /* mix-blend-mode: multiply; */
  opacity: 0;
}

/* dat.gui */
body > div.dg.ac {
  z-index: 100;
}

#container-textblocs {
  left: 0vw;
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: transparent;

  transition: transform 0.6s;
  transform: "translateY(0px)";

  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: row;
}

.block-wrapper {
  /* width: 42vh; */
  min-width: 45vw;
  max-width: 700px;
  /* height: 60%; */
  min-height: 240px;
  /* max-height: 75vh; */

  margin-right: 5vw;

  transition: transform 0.6s;
  /* transform: translateY(100px); */
}

/* @media (max-width: 768px) { */
body.mobile .block-wrapper {
  min-width: 92vw;
}

body.mobile #container-textblocs {
  left: 0vw;
  font-size: 16px;
}

/* } */

/* .currentHistoryWrapper {
  transition: transform 2s;
} */

.block {
  display: flex;
  width: 100%;
  /* timeline bar height = 96px */
  max-height: calc(100vh - 260px);

  /* border: 0.5px blue solid; */
  background-color: #00000000;

  padding-top: 60px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 25px;

  /* Children: */
  align-items: stretch;
  flex-direction: column;

  /* Transitions */
  opacity: 1;
  transform: translateX(0vw) scale(1);
  transition: all 0.6s;
  /* transition: border 0.6s; */
}

.block-stats {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.block-stats img {
  width: 32px;
  min-width: 32px;
}

.block-stats span {
  padding-left: 12px;
}

.ancientHistory {
  opacity: 0;
  /* border: 0.5px blue solid; */
  pointer-events: none;
  transform: translateX(-50vw);
}

.futureHistory {
  /* border: 0.5px blue solid; */
  transform: scale(0.8);
}

.block-title {
  font-weight: 700;
  /* text-transform: uppercase; */
  margin-bottom: 18px;
}

.block-description {
  font-weight: 400;
  overflow-y: auto;
  padding-right: 12px;
  opacity: 1;
  transition: opacity 0.6s;
}

.futureHistory > .block-description,
.futureHistory > .block-stats {
  opacity: 0.1;
}

a {
  color: blue;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent; /* make scrollbar transparent */
}
::-webkit-scrollbar-thumb {
  /* width: 0px; */
  background: #444; /* make scrollbar transparent */
}

#text-year {
  font-family: "Silkscreen", "IBM Plex Mono", monospace;
  /* font-family: "DS-Digtial", "IBM Plex Mono", monospace; */
  color: black;
  font-weight: bold;
  font-size: 128px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
